
.DS_Store
src/.DS_Store
src/generated/.DS_Store
src/generated/resources/.DS_Store
src/main/.DS_Store
src/main/java/de/thedead2/.DS_Store
src/main/java/de/thedead2/customadvancements/.DS_Store
src/main/resources/.DS_Store
src/test/.DS_Store
